.properties {
    margin-left: 15vw; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
    grid-gap: 20px;
    margin: 20px;
    border-radius: 4px;
}
