.property-card {
    display: grid;
    grid-template-rows: max-content 281px 1fr;
    border: thin solid grey;
    text-align: center;
    border-radius: 4px;
    background-color: lightgrey;
}

.title {
    text-align: center;
    border: thin solid grey;
    background-color: white;
}

.emailButton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 24px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
